@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Jai Arora Web App</h1>
    <h2> Name-Jai Arora And Student ID:500234620 </h2>
</div>
